@font-face {
    font-family: gilroy;
    src: url(../../public/Gilroy-Regular.ttf)format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy, Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100%;
    background-color: rgb(15, 18, 21);
    color: rgb(245, 243, 243);
    scroll-behavior: smooth;
}

#main {
    height: 100vh;
    width: 100%;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #020405;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0e1011;
}

.slide {
    height: 100%;
    width: 100%;
    background-color: rgb(18, 18, 18);
}

#slide1 {
    padding-top: 60px;
}

#nav {
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0%;
    left: 0%;
}

#nleft {
    /* height: auto; */
    /* width: auto; */
    display: flex;
    gap: 25px;
}

p {
    margin: 0;
    color: #fafafa;
}

h5 {
    color: #888;
}

#maincontent {
    height: calc(100vh - 60px);
    width: 100%;
    color: rgb(196, 196, 196);
    padding: .8vw 2vw;
    overflow: hidden;
}

.simple {
    width: 100%;
    height: calc(100vh - 60px);
    gap: 2.4vw;
}

#simpleL {
    width: 45%;
}

#simpleR {
    width: 55vw;
    padding: 1.6vw 0px 0px 0px;
    height: calc(100vh - 60px);
}

#simpleR h1{
    height: calc(100vh - 60px - 70vh - 15px - 1.6vw);
    display: flex;
    align-items: center;
}

#simpleR img {
    height: calc(70vh - 15px);
    border-radius: 4px;
    margin-bottom: 7px;
    border: 6px solid #444;
}

ul {
    list-style: none;
    padding-left: 5px;
}

li {
    white-space: nowrap;
}

.simple a {
    color: #2a9ad2;
    text-decoration: none;
}

.simple a:hover {
    color: rgb(15, 109, 209);
    text-decoration: none;
}

#nav a {
    text-decoration: none;
    color: #fafafa;
}

.activeNavLink {
    color: rgb(10, 162, 196) !important;
    scale: 1.1;
}

#nright a {
    color: rgb(31, 121, 181);
    display: flex;
    gap: 4px;
}

#nright h5 {
    margin: 0;
}

#maincontent i {
    color: #2a9ad2;
    font-size: 30px;
}

#pimg {
    position: relative;
}

#yearp {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.539), transparent, transparent, transparent);
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: flex-end;
    z-index: 6;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 700;
}

#year{
    font-size: 18px;
    line-height: 18px;
    color: #cdcdcd9c;
}

.pDetail{
    height: calc(70vh - 15px);
    /* background-color: rgb(15, 166, 226); */
}

#movieDetails{
    height: 100%;
}

#movieDetails {
    padding: 0px 0px 0px 25px;
}

#overviewdets{
    font-size: 20px;
    color: #999;
    height: 50%;
    overflow: auto;
}

